header {
  background-color: darkgray;

  .container {
    display: flex;
    justify-content: space-between;
    color: white;

    .logo {
      text-transform: uppercase;

      a {
        color: white;
        font-weight: 700;
        text-decoration: none;
      }
    }
  }
}
